<!DOCTYPE html>
<html>
<head>
  <title>EmoBingo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Karla' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>

  <% unless flash.empty? %>
    <div class=<%= flash.keys.first.to_s %>>
      <%= flash[flash.keys.first] %>
    </div>
  <% end %>

<%= yield %>

</body>
</html>
